language: python
services:
  - docker
matrix:
  include:
    - env:
      - DOCKER_IMAGE=python:3.7
    - env:
      - DOCKER_IMAGE=python:3.9
before_install:
  - docker pull $DOCKER_IMAGE
script: docker run -v "$(pwd):/usr/src/app" -w "/usr/src/app" $DOCKER_IMAGE python setup.py test
