{
    "SERVER_URL": "https://mediaserver.example.com",
    "API_KEY": "the-api-key",
    "CLIENT_ID": "python-api-client",
    "PROXIES": {
        "http": "",
        "https": ""
    },
    "UPLOAD_CHUNK_SIZE": 5242880,
    "VERIFY_SSL": false
}