{
    "API_KEY": "my-api-key",
    "CLIENT_ID": "python-api-client",
    "PROXIES": {
        "http": "",
        "https": ""
    },
    "SERVER_URL": "https://my.mediaserver.net",
    "UPLOAD_CHUNK_SIZE": 5242880,
    "VERIFY_SSL": false
}